# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Build files
build/
dist/
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Type checker caches
.mypy_cache/
.pyre/

# OS files
.DS_Store